/* font-family: "PTSansRegular"; */
@font-face {
	font-family: "PTSansRegular";
	src: url("../fonts/PTSansRegular/PTSansRegular.eot");
	src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
	url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSansBold";
	src: url("../fonts/PTSansBold/PTSansBold.eot");
	src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
	url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PTSansRegular"; */

body, div, a, p, span, ul, li, strong, em, del {
	font-family: "PTSansRegular", Tahoma, Arial, sans-serif;
	font-size: 14px; }

body {
	background-color: #201A1A;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	z-index: 1;
}

.headerText {
	font: 18pt "PTSansRegular";
	color: #1f1e18;
	line-height: 18px;
	margin: 0;
}

.usualText {
	font: 14pt "PTSansRegular";
	color: #1f1e18;
	margin: 0;
}

.boldText {
	font: 14pt "PTSansBold";
	color: #1f1e18;
	margin: 0;
}
/*Початок Навігація*/
.nav {
	height: 31px;
	background-color: #FBF4B3;
	padding: 20px;
}

.logo {
	width: 250px;
	height: 31px;
	background: url("../img/logo.png") no-repeat;
	margin: 0 30px 0 0;
	display: inline-block;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.menu-item {
	display: inline-block;
	margin: 5px 20px 0 0;
	border-bottom: 1px dashed #891818;
}

.menu-item span{
	text-decoration: none;
	font: 19px Tahoma, sans-serif;
	color: #891818;
	cursor:  pointer;
}
/*Кінець Навігація*/

/*Початок Про послугу*/
.aboutBg {
	height: 364px;
	background-image: url("../img/aboutBg.jpg");
	background-repeat: no-repeat;
}

.blackoutBg{
	height: 305px;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
}

.aboutText{
	color: #F9F5CF;
	width: 456px;
	margin-bottom: 30px;
	font: 14pt "PTSansRegular";
	color: #fbf4b3;
	text-align: justify;
}

$ps-green: #609A34;
$ps-red: #c8692a;
$ps-shadow-green: #2b4e12;
$ps-shadow-red: #612e0d;
$btn-color: #fbf4b3;
button {
	display: block;
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 3px;
	color: $btn-color;
	font: 14pt "PTSansRegular";
	background-color: $ps-green;
	box-shadow: 0 3px $ps-shadow-green;
}

.buyButton {
	width: 315px;
	height: 68px;
	background-color: $ps-green;
	box-shadow: 0 3px $ps-shadow-green;
	margin-bottom: 15px;
}

.infoButton {
	width: 315px;
	height: 68px;
	background-color: $ps-red;
	box-shadow: 0 3px $ps-shadow-red;
}
/*Кінець Про послугу*/

/*Початок Фотографії*/
.photos{
	height: 205px;
	background-color: #ffffff;
	padding: 30px;
}

.photos h3{
	margin: 0 0 16px 0;
}

.photos p {
	margin: 0 0 5px 0;
}

.photoSet {
	height: 118px;
	padding:0;
	margin: 0;
}

.photoSet img {
	height: 118px;
	width: 184px;
	margin-left: 5px;
	display: inline-block;
}

img.first{
	margin:0;
}

.photoSetPic {
	line-height: 0;
    font-size: 0;
}
/*Кінець Фотографії*/

/*Початок Для кого*/
.youWant {
	height: 200px;
	padding: 30px;
	background-color: #f8fabf;
}

.youWant p{
	display: inline-block;
	width: 301px;
	height: 165px;
	vertical-align: top;
	text-align: justify;
}

p.ywCenter {
	width: 290px;
	margin: 0 20px;
}

.youWant h3 {
	margin: 0 0 16px 0;
}
/*Кінець Для кого*/

/*Початок Кроки*/
.steps {
	height: 758px;
	background-color: #ffffff;
	padding: 30px 30px 22px 30px;
}

.stepBlock {
	display: inline-block;
	height: 250px;
	width:305px;
	vertical-align: top;
}

.stepsHeader {
	margin: 0 0 18px 0;
}

.centerB {
	margin: 0 12px;
}

.textSB {
	margin: 3px 0 0 0;
}

.curierHeader {
	margin: 40px 0 18px 0;
}

.row3picBC {
	height: 192px;
	padding: 0;
	margin: 0 0 12px 0;
}

.row2picBC {
	height: 192px;
	width: 622px;
	padding: 0;
	margin: 0 auto;
}

.blockPC {
	display: inline-block;
}

.rightB {
	margin: 0 0 0 12px;
}

.pictureSB, .pictureC {
  line-height: 0;
  font-size: 0;
}
/*Кінець Кроки*/

/*Початок Конструктора*/
.constructor {
	padding: 30px;
	background-color: #F8FABF;
}

.constructorHeader {
	margin: 0 0 21px 0;
}

.constructorBody {
	height: 313px;
	background-color: #A3D39C;
}
/*Кінець Конструктора*/

/*Початок Набори*/
.packages {
	padding: 30px;
	height: 450px;
	background-color: #c4df9b;
}

.packageHeader {
	margin: 0 0 28px 0;
}

.pack {
	height: 400px;
	width: 305px;
	display: inline-block;
	vertical-align: top;
}

.packCenter {
	height: 400px;
	width: 290px;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
}

.packImg {
	height: 214px;
	width: 214px;
	border-radius: 107px;
	margin: auto;
	display: block;
	margin-bottom: 18px;
}

.packHead {
	text-align: center;
	line-height: 22px;
	margin: 0 0 6px 0;
}

.packText {
	text-align: center;
	line-height: 20px;
}
/*Кінець Набори*/

/*Початок Гарантії*/
.warranty {
	height: 90px;
	padding: 30px;
	background-color: #ffffff;
}

.warrHead {
	margin: 0 0 22px 0;
}
/*Кінець Гарантії*/

/*Початок Футер*/
footer {
	height: 145px;
	padding: 30px;
	background-color: #fbf4b3;
}

.footBlock {
	display: inline-block;
	height: 145px;
}

.footLink {
	border-bottom: 1px dashed #1f1e18;
	text-decoration: none;
	cursor: pointer;
}

.footBlock {
	width: 470px;
}

.footBlock:last-child {
	text-align: right;
}
/*Кінець Футер*/


// colors
$g0: #000000;
$g3: #333333;
$g6: #666666;
$g9: #999999;
$c: #cccccc;
$d: #ddd;
$e: #eee;
$w: white;
$tsp: rgba(0,0,0,0);

$steps-bg: #FCFCFB;

$cat-hover-bg: #EFF8FE;
$cat-hover-bdr: #C3E5F5;

$cat-active-bg: #C1DEEC;
$cat-active-bdr: #8BCBE8;

$prev-hover-bg: #EFF8FE;
$prev-hover-bdr: #C3E5F5;

$prev-bg: #ffffff;
$prev-bdr: #D8D8D8;
$prev-active-bg: #E6E6E6;
$prev-active-bdr: #D8D8D8;


/**
	constructor begin */

.hidden {
	display: none !important;
}
.constructor-navigator {
	width: 294px;
	padding: 5px 10px;
	display: inline-block;
	cursor: default;
	text-align: center;
	//	background: $steps-bg;
	//	border-top: 1px solid $e;
	//	border-bottom: 1px solid $e;
	&.step1 {

	}
	&.step2 {
		//border-left: 1px solid $w;
	}
	&.step3 {
		//border-left: 1px solid $w;
		width: 292px;
	}
	&.active {
		//background: $cat-active-bg;
		font-weight: bold;
	}
	&.stepped {
		//background: $e;
		color: $g9;
	}
}
.constructor-steps {
	background: $steps-bg;
	border-bottom: 1px solid $e;
	&.step1 {
		height: 470px;
	}
	&.step2 {

	}
	&.step3 {

	}
	&.step2, &.step3 {
		padding: 10px;

	}
}
.letters { //width 940px
	display: inline-block;
	vertical-align: top;
	height: 450px;
	&.categories {
		width: 140px;
		padding: 10px;
		background: rgb(254,254,254); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(238,241,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(238,241,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(238,241,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(238,241,242,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(238,241,242,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(238,241,242,1) 100%); /* W3C */
		.letters-item {
			padding: 3px;
			cursor: pointer;
			border: 1px solid $tsp;
			&.active {
				background: $cat-active-bg !important;
				border: 1px solid $cat-active-bdr !important;
			}
			&:hover {
				background: $cat-hover-bg;
				border: 1px solid $cat-hover-bdr;
			}
		}
	}
	&.previews {
		padding: 10px;
		padding-right: 20px;
		background: $prev-bg;
		//overflow-y: scroll;
		max-height: 450px;
		overflow: auto;
		.letters-item {
			width: 250px;
			padding: 5px;
			border: 1px solid $tsp;
			border-bottom: 1px solid $prev-bdr;
			cursor: pointer;
			.preview-title {
				color: $g0;
			}
			.preview-desc {
				color: $g6;
				white-space: pre-line;
			}
			&.active {
				background: $prev-active-bg !important;
				border: 1px solid $prev-active-bdr !important;
			}
			&:hover {
				background: $prev-hover-bg;
				border: 1px solid $prev-hover-bdr;
			}
		}
	}
	&.text {
		padding: 10px;
		width: 465px;
		white-space: pre-line;
	}
}
.subcategories {
	margin-left: 10px;
	display: none;
}
.ctgrList {
	color: $g6;
	&.closed:before {
		content: '▼ ';
		font-size: 10px;
		font-family: Arial;
	}
	&.opened:before {
		content: '▲ ';
		font-size: 10px;
		font-family: Arial;
	}
}
.ctgr {
	&:before {
		//content: '• ';
		font-size: 10px;
	}
}
.template {
	&Input, &TextArea {
		border: 1px solid $cat-active-bdr;
		font-family: "PT Sans";
	}
	&Input {
		padding: 2px 3px;
	}
	&TextArea {
		resize: none;
		width: 460px;
		height: 120px;
		display: block;
		margin: 3px 0;
	}
}
.constructor-switcher {
	display: inline-block;
	border-radius: 2px;
	width: 120px;
	height: 25px;
	color: $w;
	font-size: 16px;
	background-color: $ps-red;
	box-shadow: 0 3px $ps-shadow-red;
	&.previous {
		float: left;
	}
	&.next {
		float: right;
	}
	&.toPay {
		float: right;
		background-color: $ps-green;
		box-shadow: 0 3px $ps-shadow-green;
	}
}
.text-right {
	text-align: right;
}
.constructor-switcher-bar {
	background: $steps-bg;
	padding: 10px;
	height: 27px;
}
	/**
		constructor end */

/** gallery*/
	#cboxOverlay {background: rgba(0,0,0,0.8) !important;}
/** gallery */